.dataHeader {
  width: 100%;
  height: auto;
}
.dataHeader th {
  border: 2px solid #ccc;
}
.dataHeader th {
  width: auto;
  min-width: 10px;
  max-width: 10%;
  text-overflow: clip;
}
.dataHeader th:first-child {
  width: 5%;
} 
