/* @import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities'; */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.menuItem {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  color: #fff;
  font-size: large;
}

.menuItem.active {
  width: inherit;
  color: black;
  background: #ffffff;
}
.view_pages {
  border-radius: 8px;
  padding: 4px 8px;
  font-size: x-large;
  font-weight: bold;
  background: #bfbfbf;
  margin-right: 2px;
}
.view_pages.active {
  background: #0060ea;
  color: white;
}

.dataHeader .th {
  border: 1px solid #fff;
  margin: 1px;
  background: #fff;
}
/* Set up min-width for all input fields in form iten ant */
.ant-form-item-control-input {
  min-width: 50px; /* Thay đổi giá trị của min-width tùy theo nhu cầu */
}
.ant-form-item-label {
  white-space: nowrap; /* Không ngắt dòng */
  overflow: hidden; /* Ẩn nội dung vượt quá kích thước */
  text-overflow: ellipsis; /* Hiển thị dấu chấm ba (...) khi nội dung quá dài */
}

/* Ghi đè màu chữ cho Input khi form disable */
.ant-input[disabled], .ant-input-disabled, .ant-input-disabled::placeholder, 
.ant-input[disabled]:hover, .ant-input-disabled:hover, .ant-input-disabled:hover::placeholder {
  color: black; /* Đổi màu chữ thành đen */
}

/* Ghi đè màu viền cho Input khi form disable */
.ant-input[disabled], .ant-input-disabled, .ant-input-disabled::placeholder, 
.ant-input[disabled]:hover, .ant-input-disabled:hover, .ant-input-disabled:hover::placeholder {
  border-color: black; /* Đổi màu viền thành đen */
}

/* Ghi đè màu chữ cho DatePicker khi form disable */
.ant-picker-input[disabled] .ant-picker-input-content, 
.ant-picker-input-disabled .ant-picker-input-content {
  color: black; /* Đổi màu chữ thành đen */
}

/* Ghi đè màu viền cho DatePicker khi form disable */
.ant-picker-input[disabled] .ant-picker-input-content, 
.ant-picker-input-disabled .ant-picker-input-content {
  border-color: black; /* Đổi màu viền thành đen */
}

/* Ghi đè màu chữ cho Select khi form disable */
/* Ghi đè màu chữ và màu viền cho Select khi form disable */
.ant-select-disabled .ant-select-selector, 
.ant-select-disabled .ant-select-selection-placeholder {
  color: black; /* Màu chữ đen */
  border-color: black; /* Màu viền đen */
}

/* Ghi đè màu chữ cho TextArea khi form disable */
.ant-input[disabled], .ant-input-disabled, .ant-input-disabled::placeholder, 
.ant-input[disabled]:hover, .ant-input-disabled:hover, .ant-input-disabled:hover::placeholder {
  color: black; /* Đổi màu chữ thành đen */
}

/* Ghi đè màu viền cho TextArea khi form disable */
.ant-input[disabled], .ant-input-disabled, .ant-input-disabled::placeholder, 
.ant-input[disabled]:hover, .ant-input-disabled:hover, .ant-input-disabled:hover::placeholder {
  border-color: black; /* Đổi màu viền thành đen */
}
